@import "tailwindcss";

/* ================================
   Tailwind Theme Tokens
================================ */

@theme {
  --color-brand-gray-0: #070c1b;
  --color-brand-gray-100: #21263f;
  --color-brand-gray-200: #565f7e;
  --color-brand-gray-300: #8b93b0;
  --color-brand-gray-400: #c8cedd;

  --color-brand-blue-100: #4e7bee;
  --color-brand-blue-200: #1e29a8;
  --color-brand-blue-300: #0c1580;

  --color-brand-green: #00a372;
  --color-brand-red: #e5364b;

  --color-white: #ffffff;

  --font-family-sans: var(--font-roboto-condensed);
}

/* ================================
   Base Styles + CSS Variables
================================ */

@layer base {
  :root {
    --font-size-headline-1: 3.5rem;
    --font-size-headline-2: 2.25rem;
    --font-size-headline-3: 1.5rem;
    --font-size-headline-4: 1.25rem;

    --font-size-body-1: 1rem;
    --font-size-body-2: 0.875rem;
    --font-size-body-3: 0.75rem;

    --font-weight-headline: 700;
    --font-weight-body: 400;
  }

  body {
    font-family:
      var(--font-roboto-condensed), ui-sans-serif, system-ui, sans-serif;
    background-color: var(--color-brand-gray-0);
    color: var(--color-white);
  }

  * {
    font-family: inherit;
  }
}

/* ================================
   Typography Utilities
================================ */

@layer utilities {
  .text-headline-1 {
    font-size: var(--font-size-headline-1);
    font-weight: var(--font-weight-headline);
  }

  .text-headline-2 {
    font-size: var(--font-size-headline-2);
    font-weight: var(--font-weight-headline);
  }

  .text-headline-3 {
    font-size: var(--font-size-headline-3);
    font-weight: var(--font-weight-headline);
  }

  .text-headline-4 {
    font-size: var(--font-size-headline-4);
    font-weight: var(--font-weight-headline);
  }

  .text-body-1 {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-body);
  }

  .text-body-1-bold {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-headline);
  }

  .text-body-2 {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-body);
  }

  .text-body-2-bold {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-headline);
  }

  .text-body-3 {
    font-size: var(--font-size-body-3);
    font-weight: var(--font-weight-body);
  }

  .placeholder-body-1::placeholder {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-body);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}